@use '@angular/material' as mat;

@include mat.core();



$pharmacy-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$green-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: (
    brand-family: 'Inter',
    plain-family: 'Inter',
  ),
  density: (
    scale: 0
  )
));

@include mat.all-component-themes($pharmacy-theme);

body {
  background-color: #f8f9f7; // soft off-white
  color: #2f2f2f; // charcoal
  font-family: 'Inter', sans-serif;
}